@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);



.stage {
    position: relative;
    width: 100%;

min-width: 400px;
    margin-left: 60px;
    margin-bottom: 60px;





                float: left;
                overflow: auto;
                padding-bottom: 5px;
                padding-top:5px;


}

label, [type="text"],
[type="email"],
textarea, [type="submit"] {
  border-radius: 5px;
}

form {

  border-radius: 66px;
  background: -webkit-linear-gradient(left, #18222d, #1a2530);
  background: -moz-linear-gradient(left, #18222d, #1a2530);
  background: linear-gradient(left, #18222d, #1a2530);
  box-shadow: inset 3px 3px 15px -5px rgba(0, 0, 0, 0.1);
  padding: 3em;
  display: block;
}

[type="submit"]{
  background: #1a2530;
  display: inline-block;
  padding: 0.3em 1em 0.5em;
  cursor: pointer;
  background: -webkit-linear-gradient(left, #18222d, #1a2530);
  background: linear-gradient(left, #18222d, #1a2530);
  box-shadow: inset 3px 3px 15px -5px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #27ae60;
  border: 1px solid rgba(41, 128, 185, 0.3);
  font-size: 90%;
}
[type="submit"]:focus {
  background: #3498db;
  color: white;
}
[type="submit"]:hover {
  background: #27ae60;
  color: white;
}
[type="submit"]:active {
  background: #1a2530;
  color: white;
}

[type="button"]{
  background: #1a2530;
  display: inline-block;
  padding: 0.3em 1em 0.5em;
  cursor: pointer;
  background: -webkit-linear-gradient(left, #18222d, #1a2530);
  background: -moz-linear-gradient(left, #18222d, #1a2530);
  background: linear-gradient(left, #18222d, #1a2530);
  box-shadow: inset 3px 3px 15px -5px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #27ae60;
  border: 12px solid rgba(41, 128, 185, 0.3);
  font-size: 80%;
    -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  -webkit-box-shadow: 5px 3px 30px #70f205;
  -moz-box-shadow: 5px 3px 30px #70f205;
  width: 270px;
    max-width: 230px;
   min-width: 20%;


}

[type="button"]:hover {
  background: red;
  color: white;
}


label, input,select,
textarea {
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
label:hover, input:hover,select:hover,
textarea:hover {
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
}

* {

  /*
  position: relative;
  box-sizing: border-box;

  */
}

html, body {
  height: 100%;
}

*,
body {
  font-family: "Inconsolata", sans-serif;
  font-weight: 400;
}

body {
  font-size: 19px;
  line-height: 1.3em;
  /*
  background: -webkit-linear-gradient(right, #1c2835, #1e2b38);
  background: linear-gradient(right, #1c2835, #1e2b38);
  */
   background-image: url(
http://good-wallpapers.com/wallpapers/14509/1440_Black%20Background%20With%20Ornaments%20And%20Flourishes.jpg
        );
  color: #94bfdc;
}

legend {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #2980b9;
}

label {

right: 140px;  /* PARA ESTANDARIZAR TAMAÑO DE CUADROS DE LABELS */

  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-20%) translateY(50%);
      -ms-transform: translateX(-20%) translateY(50%);
          transform: translateX(-20%) translateY(50%);
  background: rgba(26, 37, 48, 0.5);
  border: 1px solid rgba(41, 128, 185, 0.5);
  padding: 0 1em 0.2em;
  display: block;
  cursor: pointer;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
      transform-origin: 0 0;
}

input,option,select,
textarea {
  font-size: 85%;
}

input:focus,select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #2980b9;
  background: #1a2530;
  box-shadow: inset 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
}
input:focus + label, input.active + label,
textarea:focus + label,textarea.active + label,
select:focus + label,select.active + label 

{
  background: black;
  -webkit-transform: translateX(-20%) translateY(-50%);
      -ms-transform: translateX(-20%) translateY(-50%);
          transform: translateX(-20%) translateY(-50%);
}



::-webkit-input-placeholder {
  color: rgba(41, 128, 185, 0.3);
}

[type="text"],
[type="email"],
[type="number"],
[type="password"],select,option,
textarea {
  border: none;
  background: inherit;
  color: #94bfdc;
  border: 1px solid rgba(41, 128, 185, 0.3);
  padding: 1em 0.5em 0.5em;
  width: 100%;
  -webkit-filter: blur(5px);
}
[type="text"]:focus, [type="text"].active,
[type="email"]:focus,
[type="email"].active,
[type="number"],
[type="password"],
textarea:focus,select,option,
textarea.active {
  -webkit-filter: blur(0px);
}

.control {

    position: relative;
  box-sizing: border-box;


  margin-bottom: 1.3em;
}

.stage {
  max-width: 500px;


}

.bloqueado{
background: red;
}

.buscar{
background: darkslateblue;
}

